<ion-content>
<!--<ion-slides pager="true" class="slide-style">--> 
    <ion-slides pager="true" [options]="slideOpt">      
<ion-slide>
<h1>BIENVENIDOS </h1>
<h2>PCA MUSIC</h2>
<ion-icon name="musical-notes"></ion-icon>
<img src="assets\imagenes/slide1.jpeg"/>
<p> Descripcion de esta imagen</p>

</ion-slide>
<ion-slide>
    <h1>Slide 2</h1>
    <h2>Sub Titulo</h2>
    <ion-icon name="radio"></ion-icon>
    <img src="assets\imagenes/slide2.jpeg"/>
    <p> Descripcion de esta imagen</p>
    
</ion-slide>
<ion-slide>
    <h1>Slide 3</h1>
    <h2>Sub Titulo</h2>
    <ion-icon name="play"></ion-icon>
    <img src="assets\imagenes/slide3.jpg"/>
    <p> Descripcion de esta imagen</p>
    
</ion-slide>
<!--LUIS FABIAN SOCARRAZ-->
<!--PCA-->
<!--4to Slider AGG-->
<ion-slide> 
    <ion-icon name="close"></ion-icon>
    <h1>Slide 4</h1>
    <h2>Sub Titulo</h2>
    <ion-icon name="musical-note"></ion-icon>
    <img src="assets\imagenes/slide4.JPEG"/>
    <p> Descripcion de esta imagen</p>
    
</ion-slide>
</ion-slides>
</ion-content>
